@use 'colors' as *;

.content {
  color: $gray-6;
  font-weight: 100;
  margin: 2em 3em 0 2em;

  h1 {
    font-size: 20pt;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    // text-transform: lowercase;
    margin: 0; 
  }

  p {
    font-size: small;
    font-style: normal;
    line-height: normal; 
    margin: 0; 
  }

  .meta {
    padding:2em 0 1em 0;

    span {
      font-size: x-small;
    }
  }

  .summary {
    text-align: justify;

    a {
      margin-top: 1em;
      float: right;
    }
  }
}