@use 'colors' as *;

.editor {
  p {
    color: $gray-6;
  }

  a {
    text-decoration: none;
    color: $red;
  }

  a:hover{
    text-decoration: none;
    color: $red;
  }

  a:visited{
    color: $red;
  }
}