@use 'colors' as *;

.jade_main {
  background-color: $gray-2;
  box-sizing: border-box;
  color: $gray-6;
  .jade_content {
    padding-top: 6em;
    text-align: right;
    width: 30%;
    float: left;
  
    .hero {
      z-index: 1;
  
      .last_name {
        margin-top: -0.6em;
      }
    
      h1 {
        font-style: italic;
        font-size: 82pt;
        margin: 0;
        padding: 0;
      }
    
      p {
        text-align: justify;
      }
    }
  
    .jade {
      z-index: auto;
      margin-left: 23em;
      margin-top: -23em;
    }
  }

  .jade_hero {
    padding-left: 6em;
    width: 50%;
    float: left;
    margin-left: 10em;

    .profile_table_title {
      width: 5em;
      font-weight: bold;
    }
  }
}
