@use '../../styles/colors.scss' as *;

article {
  margin-bottom: 1em;
  .title {
    h1 {
      background: $gray-6;
      color: $gray-1;
      margin: 0;
      padding: 4px;
      text-transform: uppercase;
      width: fit-content;
      font-size: 24pt;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
    }
    p {
      margin-top: 4px;
    }
  
    a {
      text-decoration: none;
      color: $gray-6;
      font-size: small;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
      margin: 0; 
    }
  }

  .content {
    transition: ease .5s;
    p {
      margin: 0;
    }

    .url {
      ul {
        margin: 0;
        padding-left: 1.5em;
        li {
          a {
            color: $gray-6;
            text-decoration: none;
          }
        }
      }
    }
  }
}

article:hover {
  cursor: pointer;
}